<header class="absolute inset-x-0 top-0 z-50">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex items-center lg:flex-1">
      <a class="-m-1.5 p-1.5" href="/{{ page.lang }}/">
        <span class="sr-only">Nalca Biotech</span>
        {%- include "logo-small.html" %}
      </a>
      <span class="ml-4 text-xl font-bold text-gray-900">Nalca Biotech</span>
    </div>
    <div class="flex lg:hidden">
      <button
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        type="button"
        command="show-modal"
        commandfor="mobile-menu"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="size-6"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          data-slot="icon"
          aria-hidden="true"
        >
          <path
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {%- for entry in collections.all | matchPageLang | eleventyNavigation %}
        <a
          class="text-sm/6 font-semibold text-gray-900"
          href="{{ entry.url }}"
          {% if entry.url == page.url %}aria-current="page"{% endif %}
          >{{ entry.title }}</a
        >
      {%- endfor %}
      <a
        class="text-sm/6 font-semibold text-gray-900"
        href="https://nalca-biotech.ghost.io/"
        target="_newsletter"
        >Newsletter</a
      >
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      {%- for lang in i18n.langs %}
        {%- if page.lang != lang.code %}
          <a
            class="hidden text-sm/6 font-semibold text-gray-900"
            href="/{{ lang.code }}/"
            >{{ lang.name }}</a
          >
        {%- endif %}
      {%- endfor %}
    </div>
  </nav>
  <el-dialog>
    <dialog class="backdrop:bg-transparent lg:hidden" id="mobile-menu">
      <div class="fixed inset-0 focus:outline-none" tabindex="0">
        <el-dialog-panel
          class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
        >
          <div class="flex items-center justify-between">
            <a class="-m-1.5 p-1.5" href="/{{ page.lang }}/">
              <span class="sr-only">Nalca Biotech</span>
              {%- include "logo-small.html" %}
            </a>
            <span class="text-xl font-bold text-gray-900">Nalca Biotech</span>
            <button
              class="-m-2.5 rounded-md p-2.5 text-gray-700"
              type="button"
              command="close"
              commandfor="mobile-menu"
            >
              <span class="sr-only">Close menu</span>
              <svg
                class="size-6"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                data-slot="icon"
                aria-hidden="true"
              >
                <path
                  d="M6 18 18 6M6 6l12 12"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                {%- for entry in collections.all | matchPageLang | eleventyNavigation %}
                  <a
                    class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                    href="{{ entry.url }}"
                    {% if entry.url == page.url %}aria-current="page"{% endif %}
                    >{{ entry.title }}</a
                  >
                {%- endfor %}
                <a
                  class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                  href="https://nalca-biotech.ghost.io/"
                  target="_newsletter"
                  >Newsletter</a
                >
              </div>
              <div class="hidden py-6">
                {%- for lang in i18n.langs %}
                  {%- if page.lang != lang.code %}
                    <a
                      class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
                      href="/{{ lang.code }}/"
                      >{{ lang.name }}</a
                    >
                  {%- endif %}
                {%- endfor %}
              </div>
            </div>
          </div>
        </el-dialog-panel>
      </div>
    </dialog>
  </el-dialog>
</header>
