---js
// <script>
const eleventyExcludeFromCollections = true;

const layout = "simple.njk";

const pagination = {
  data: 'collections["case-studies"]',
  alias: "tag",
  size: 1,
  before: function(items, _) {
    return Array.from(new Set(items.map((item) => item.data.tags).flat()));
  },
  // addAllPagesToCollections: true,
};

const eleventyComputed = {
  title: "{{ tag }}",
  subtitle: "Case studies about {{ tag }}.",
  permalink: function(data) {
    return `/en/case-studies/tags/${this.slugify(data.tag)}/`;
  }
};
// </script>
---

{%- set posts = collections[ tag ] | matchPageLang %}
{%- include "posts.html" %}
