<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nalca Biotech - {{ i18n[lang].title }}</title>
    <script src="https://app.termly.io/resource-blocker/f637f1e0-5b68-40d3-8d89-d80346dd91b2?autoBlock=on"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-90863EH73T"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-90863EH73T");
    </script>
    <script type="module" src="{% getBundleFileUrl 'js' %}"></script>
    <link href="/css/site.css" rel="stylesheet" />
    {%- block exthead %}{%- endblock %}
    <link
      rel="alternate"
      type="application/atom+xml"
      href="/{{ page.lang }}/feed.xml"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="manifest" href="/site.webmanifest" />
    {% include "share-sheet.html" %}
    <meta name="description" content="{{ i18n[lang].description }}" />
    <meta
      name="keywords"
      content="bioprocess scale up, biorreactor continuo, biorreactores, continuous biomanufacturing, continuous bioprocess, continuous bioprocessing, continuous bioreactor, continuous fermentation, escalamiento de bioprocesos, fermentador, produccion continua,"
    />
    <meta name="generator" content="{{ eleventy.generator }}" />
  </head>
  <body>
    <div class="bg-white">
      {%- include "header.html" %}
      <main>{{ content | safe }}</main>
      {%- include "footer.html" %}
    </div>
  </body>
</html>
{%- js %}
  {%- include "node_modules/@tailwindplus/elements/dist/index.js" %}
{%- endjs %}
